@font-face {
  font-family: DMSans-Regular;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: DMSans-Medium;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/DMSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: DMSans-Bold;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/DMSans-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: DMSans-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(360deg, #171b27 0%, #313951 100%) no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  min-height: 100%;
  /* max-width: 400px; */
  margin-left: auto;
  margin-right: auto;
}
